doctype html
html
  head
    title 我的网站
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    link(type="text/css",rel="stylesheet",href="./assets/plugs/layer/css/layui.css")
    script(src="./assets/plugs/layer/layui.all.js",type="text/javascript")
  body
    block content